.pano {
    background-image: url('../../public/images/pano.jpg');
    background-size: cover;
    background-color: black;
    background-position: center;
    height: 30vh;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.videoPlayer {
    width: 11vw; /* 25% of the viewport width */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Positioning it absolutely */
    top: 50%; /* Center vertically */
    right: 18%; /* Align to the right */
    transform: translateY(-50%); /* Centering it vertically with respect to its height */
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black; /* Set the background color to black */
    min-height: 100%; /* Ensure it covers at least the full height of the viewport */
    width: 100%; /* Cover the full width */
}
