.pano {
    background-image: url('../../public/images/pano.jpg');
    background-size: cover;
    width: 100vw;
    height: 50vh;
    position: relative;
    background-color: black;
    margin: 0;
    padding: 0;
}
